@use 'styles/raw';
@use 'styles/spinner';

.root {
	display: grid;
	grid: 30px auto / 1fr 1fr;
}

.label,
.options {
	align-self: center;
}

.label {
	margin-left: 16px;
	text-transform: uppercase;
	color: #d0d0d0;
}

.options {
	display: flex;
	align-items: center;

	.label {
		margin-right: auto;
	}
}

.feature {
	cursor: default !important;
	margin-left: 14px;
	color: white;

	.root[aria-hidden='true'] & {
		display: none;
	}
}

.run {
	align-self: stretch;
	margin-left: 14px;
	color: white;
	background: none;
	transition: opacity 0.15s;

	&:hover {
		opacity: 0.7;
	}

	.root[aria-hidden='true'] & {
		display: none;
	}
}

.runIcon {
	display: block;
	height: 20px;
}

.spinner {
	@include spinner.options(17px, 2px, currentColor);
}

.toggle {
	align-self: stretch;
	margin: 0 14px;
	color: white;
	background: none;
	transition: opacity 0.15s, transform 0.15s;

	&:hover {
		opacity: 0.7;
	}

	.root[aria-hidden='true'] & {
		transform: rotate(0.5turn);
	}
}

.toggleIcon {
	display: block;
	height: 10px;
}

.value {
	height: raw.min(30vh, 270px);

	.root[aria-hidden='true'] & {
		display: none;
	}
}
