@use 'styles/code';

.root {
	cursor: text;
	overflow-y: auto;

	:global .CodeMirror {
		height: 100% !important;
		font-family: code.$font !important;

		&,
		&-gutters {
			background: none !important;
		}
	}
}
