@use 'styles/code';
@use 'styles/colors';

.root {
	cursor: text;
	overflow-y: auto;

	:global .CodeMirror {
		height: 100% !important;
		font-family: code.$font !important;

		&,
		&-gutters {
			background: none !important;
		}

		&-vscrollbar {
			$width: 16px;

			cursor: default !important;
			width: $width !important;
			transition: background 0.15s;

			&::-webkit-scrollbar {
				width: $width;
			}

			&::-webkit-scrollbar-track {
				background: colors.$background;
			}

			&::-webkit-scrollbar-thumb {
				background: inherit;
				transition: background 0.15s;
			}
		}

		&:hover .CodeMirror-vscrollbar {
			background: transparentize(white, 0.92);
		}
	}
}
