@use 'styles/colors';

.root {
	display: grid;
	grid: auto 1fr / 1fr;
	height: 100%;
	background: colors.$background;
}

.options {
	display: grid;
	grid: auto / 1fr auto;
	align-items: center;
}

.code,
.rawCode {
	padding-top: 8px;
}

.notFound {
	margin: auto;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	color: white;
}
