<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="{{origin}}" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="preload" href="/styles/preview.css" as="style" />
		<link rel="preload" href="/fonts/menlo.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
		<link rel="stylesheet" href="/styles/preview.css" />
	</head>
	<body>
		<pre id="code">{{{code}}}</pre>
	</body>
</html>
